# Build artifacts
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app

# Debug
*.dSYM/
*.su
*.idb
*.pdb

# CMake
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
!**/Makefile.am
!**/Makefile.in
compile_commands.json

# IDE
*.md
.vscode/
.idea/
*.swp
*.swo
*~


# OS
.DS_Store
Thumbs.db
